@font-face {
	font-family: 'SEGA LOGO FONT';
	font-style: normal;
	font-weight: normal;
	src: local('SEGA LOGO FONT'),
		url('1st-Enterprises-Chrome-Italic.ttf.woff') format('woff');
}

h1 {
	font-family: 'SEGA LOGO FONT';
	font-weight: 200;
	color: #eeea03;
}
